<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="StockDBConnection" connectionString="Server=localhost\SQLEXPRESS;Database=StockManagementDb;User ID=Service\MSSQL$SQLEXPRESS;Password=1243;Trusted_Connection=False;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
